<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arknights Crossover | Stats</title>
    <link rel="shortcut icon" href="<%=fav[0].favicon%>" type="image/x-icon">
    <link rel="stylesheet" href="/css/index.css">
    <script defer src="/js/main.js"></script>
    <script defer src="/js/parallax.js"></script>
    <script defer src="/js/skillSelector.js"></script>
</head>
<body>
    <div class="background">
    </div>
    <nav>
        <div class="current">
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAAAYCAYAAAAMAljuAAABb2lDQ1BpY2MAACiRdZE9S8NQFIafpoqiFQcdRBw61I+hBVEQR6mgS3VoK1h1adO0FdIakhQRV8HFoeAguvg1+A90FVwVBEERRNzc/VqkxHNboSJ6w815eO99DydvQIuZetFpmoBiybXj09HgfGoh2PKMH40uIgymdceaSUwl+Xd93OJT9Saiev1/78/VnjUcHXytwmO6ZbvCMg2xVddSvCXcrRfSWeED4bAtAwpfKj1T5yfF+Tq/KbaT8UnQVM9g/gdnfrBesIvCQ8KholnWv+dRXxIwSnMJqb2y+3CIM02UIBnKLGPiSi7LlCSzv33DNd8sK+LR5W2xhi2OPAXxhkUtS1dDak50Qx6TNZX77zyd3OhIvXsgCs2PnvfaDy3bUK143ueh51WPwP8A56WGf0VyGn8XvdLQQvvQuQGnFw0tswNnm9Bzb6XtdE3yy9ZyOXg5gY4UdF1D22I9q+9zju8guS6/6Ap292BA7ncufQE5JGgkLfZOCQAAAAlwSFlzAAAk6AAAJOgBgmMFHAAAAN1JREFUaAXt2UsOwyAMBNAQ9f43rqitggQVlG46HsnDJr8Fxg+coJRq7UraijW2od9sASHjYZyMhTEoJErra7tS0IvoETB4xi4rS/lKXbLGmcFSKQQyqDCgCGQA8dNoFIF8gESjCGQBEokikA1IFIpAvoB0FHuvwPIE6+gwbvbHT1SAAvkt07A8aad+AEHv4GHyh3FTPkZjeBIEspkKERgCIcMQyAIkamX0UFSyeibsGI3hoQikgTBgeCj67H2D+J/TRjMfDGq+8eer9CAsK6M7py5ZbBiOkhaEEcNBXgYbMEGkEjQnAAAAAElFTkSuQmCC" alt="">
            <span>
                CHARACTER
            </span>
        </div>
        <hr>
        <span>
            OVERVIEW | STATS
        </span>
        <hr>
        <img class="logo" src="https://i.imgur.com/Iv8DyDL.png" alt="">
    </nav>
    <div class="content_wrap">
        <div class="left_panel" id="left_panel">
            <img class="faction" src="<%=character[0].image.factionImage%>" alt="">
            <div class="class">
                <% if (character[0].class === "Caster") { %>
                    <img src="https://i.imgur.com/CN23apZ.png" alt="">    
                    <span>
                        <%=character[0].class%>
                    </span>
                    <span>
                        キャスター
                    </span>

                <% } else if (character[0].class === "Specialist") { %>
                    <img src="https://i.imgur.com/CN23apZ.png" alt="">    
                    <span>
                        <%=character[0].class%>
                    </span>
                    <span>
                        スペシャリスト
                    </span>
                        
                <% } else if (character[0].class === "Defender") { %>
                    <img src="https://i.imgur.com/FWg0GeF.png" alt="">   
                    <span>
                        <%=character[0].class%>
                    </span>
                    <span>
                        ディフェンダー
                    </span>
                        
                <% } else if (character[0].class === "Medic") { %>
                    <img src="https://i.imgur.com/gCR0TVT.png" alt="">   
                    <span>
                        <%=character[0].class%>
                    </span>
                    <span>
                        メディック
                    </span>

                <% } else if (character[0].class === "Vanguard") { %>
                    <img src="https://i.imgur.com/jeIqr6B.png" alt="">
                    <span>
                        <%=character[0].class%>
                    </span>
                    <span>
                        ヴァンガード
                    </span>

                <% } else if (character[0].class === "Guard") { %>
                    <img src="https://i.imgur.com/S8ocnVq.png" alt=""> 
                    <span>
                        <%=character[0].class%>
                    </span>
                    <span>
                        ガード
                    </span>

                <% } else if (character[0].class === "Supporter") { %>
                    <img src="https://i.imgur.com/Og3RKSc.png" alt="">               
                    <span>
                        <%=character[0].class%>
                    </span>
                    <span>
                        サポーター
                    </span>

                <% } else { %>
                    <span>
                        <%=character[0].class%>
                    </span>
                <% }; %>
            </div>
            <div class="stars">
                <% if (character[0].star == 1) { %>
                    <span>★</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>

                <% } else if (character[0].star == 2) { %>
                    <span>★</span><span>★</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>

                <% } else if (character[0].star == 3) { %>
                    <span>★</span><span>★</span><span>★</span><span>☆</span><span>☆</span><span>☆</span>

                <% } else if (character[0].star == 4) { %>
                    <span>★</span><span>★</span><span>★</span><span>★</span><span>☆</span><span>☆</span>

                <% } else if (character[0].star == 5) { %>
                    <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span><span>☆</span>

                <% } else if (character[0].star == 6) { %>
                    <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>

                <% } else { %>
                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                <% }; %>
            </div>
            <div class="desc">
                <p>
                    <%=character[0].description%>
                </p>
            </div>
            <div class="special">
                <p>
                    <%=character[0].speciality%>
                </p>
            </div>
        </div>
        <div class="character_display">
            <img class="character_banner" src="<%=character[0].image.bannerImage%>" alt="" srcset="">
            <img class="character_image" src="<%=character[0].image.characterImage%>" alt="" srcset="">
        </div>
        <div class="right_panel" id="right_panel">
            <div class="name">
                <% if (!!character[0].image.nameImage) { %>
                    <img src="<%=character[0].image.nameImage%>" alt="">
                <% } else { %>
                    <span>
                        <%=character[0].name%>
                    </span>
                <% }; %>
            </div>
            <div class="skills">
                <div id="skill_selector"></div>
                <div class="active">
                    <div>
                        <img src="<%=character[0].skill.active['1'].img%>" alt="">
                        <p>
                            <%=character[0].skill.active['1'].desc%>
                        </p>
                    </div>
                    <div>
                        <img src="<%=character[0].skill.active['2'].img%>" alt="">
                        <p>
                            <%=character[0].skill.active['2'].desc%>
                        </p>
                    </div>
                    <div>
                        <img src="<%=character[0].skill.active['3'].img%>" alt="">
                        <p>
                            <%=character[0].skill.active['3'].desc%>
                        </p>
                    </div>
                </div>
                <div class="passive">
                    <div>
                        <img src="<%=character[0].skill.passive['1'].img%>" alt="">
                        <p>
                            <%=character[0].skill.passive['1'].desc%>
                        </p>
                    </div>
                    <div>
                        <img src="<%=character[0].skill.passive['2'].img%>" alt="">
                        <p>
                            <%=character[0].skill.passive['2'].desc%>
                        </p>
                    </div>
                    <div>
                        <img src="<%=character[0].skill.passive['3'].img%>" alt="">
                        <p>
                            <%=character[0].skill.passive['3'].desc%>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <% if (icon.length <= 4) { %>
        <div class="gallery">
            <% icon.forEach(function(object) { %>
                <a href="/character/<%=object.name%>">
                    <img src="<%=object.image.icon%>" alt="">
                </a>
            <% }); %>
        </div>
    <% } else { %>
        <div class="gallery">
            <button id="backward" type="button" onclick="gallerySlide(-1)">
                <img src="<%=btn[0].button.back%>" alt="">
            </button>

            <div id="gallery_icon">
                <% icon.forEach(function(object) { %>
                    <a href="/character/<%=object.name%>">
                        <img src="<%=object.image.icon%>" alt="">
                    </a>
                <% }); %>
            </div>

            <button id="forward" type="button" onclick="gallerySlide(1)">
                <img src="<%=btn[0].button.next%>" alt="">
            </button>
        </div>
    <% }; %>
    <footer>
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAAAYCAYAAAAMAljuAAABb2lDQ1BpY2MAACiRdZE9S8NQFIafpoqiFQcdRBw61I+hBVEQR6mgS3VoK1h1adO0FdIakhQRV8HFoeAguvg1+A90FVwVBEERRNzc/VqkxHNboSJ6w815eO99DydvQIuZetFpmoBiybXj09HgfGoh2PKMH40uIgymdceaSUwl+Xd93OJT9Saiev1/78/VnjUcHXytwmO6ZbvCMg2xVddSvCXcrRfSWeED4bAtAwpfKj1T5yfF+Tq/KbaT8UnQVM9g/gdnfrBesIvCQ8KholnWv+dRXxIwSnMJqb2y+3CIM02UIBnKLGPiSi7LlCSzv33DNd8sK+LR5W2xhi2OPAXxhkUtS1dDak50Qx6TNZX77zyd3OhIvXsgCs2PnvfaDy3bUK143ueh51WPwP8A56WGf0VyGn8XvdLQQvvQuQGnFw0tswNnm9Bzb6XtdE3yy9ZyOXg5gY4UdF1D22I9q+9zju8guS6/6Ap292BA7ncufQE5JGgkLfZOCQAAAAlwSFlzAAAk6AAAJOgBgmMFHAAAAN1JREFUaAXt2UsOwyAMBNAQ9f43rqitggQVlG46HsnDJr8Fxg+coJRq7UraijW2od9sASHjYZyMhTEoJErra7tS0IvoETB4xi4rS/lKXbLGmcFSKQQyqDCgCGQA8dNoFIF8gESjCGQBEokikA1IFIpAvoB0FHuvwPIE6+gwbvbHT1SAAvkt07A8aad+AEHv4GHyh3FTPkZjeBIEspkKERgCIcMQyAIkamX0UFSyeibsGI3hoQikgTBgeCj67H2D+J/TRjMfDGq+8eer9CAsK6M7py5ZbBiOkhaEEcNBXgYbMEGkEjQnAAAAAElFTkSuQmCC" alt="">
        <hr>
        <div>
            <span>
                All rights belong to the original creators. Mainly YOSTAR/Arknights & ZUN/Touhou
            </span>
            <span>
                Project by <a href="https://github.com/YunruKnowledge">YunruKnowledge</a> and <a href="https://github.com/LHvv">LHvv</a>
            </span>
        </div>
        <hr>
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAAAYCAYAAAAMAljuAAABb2lDQ1BpY2MAACiRdZE9S8NQFIafpoqiFQcdRBw61I+hBVEQR6mgS3VoK1h1adO0FdIakhQRV8HFoeAguvg1+A90FVwVBEERRNzc/VqkxHNboSJ6w815eO99DydvQIuZetFpmoBiybXj09HgfGoh2PKMH40uIgymdceaSUwl+Xd93OJT9Saiev1/78/VnjUcHXytwmO6ZbvCMg2xVddSvCXcrRfSWeED4bAtAwpfKj1T5yfF+Tq/KbaT8UnQVM9g/gdnfrBesIvCQ8KholnWv+dRXxIwSnMJqb2y+3CIM02UIBnKLGPiSi7LlCSzv33DNd8sK+LR5W2xhi2OPAXxhkUtS1dDak50Qx6TNZX77zyd3OhIvXsgCs2PnvfaDy3bUK143ueh51WPwP8A56WGf0VyGn8XvdLQQvvQuQGnFw0tswNnm9Bzb6XtdE3yy9ZyOXg5gY4UdF1D22I9q+9zju8guS6/6Ap292BA7ncufQE5JGgkLfZOCQAAAAlwSFlzAAAk6AAAJOgBgmMFHAAAAN1JREFUaAXt2UsOwyAMBNAQ9f43rqitggQVlG46HsnDJr8Fxg+coJRq7UraijW2od9sASHjYZyMhTEoJErra7tS0IvoETB4xi4rS/lKXbLGmcFSKQQyqDCgCGQA8dNoFIF8gESjCGQBEokikA1IFIpAvoB0FHuvwPIE6+gwbvbHT1SAAvkt07A8aad+AEHv4GHyh3FTPkZjeBIEspkKERgCIcMQyAIkamX0UFSyeibsGI3hoQikgTBgeCj67H2D+J/TRjMfDGq+8eer9CAsK6M7py5ZbBiOkhaEEcNBXgYbMEGkEjQnAAAAAElFTkSuQmCC" alt="">
    </footer>
</body>
</html>